/* CSS Document */
@charset "utf-8";

/* -- common style */
* {
	margin: 0;
	padding: 0;
	outline-style: none;
}

html,
body {
	width: 100%;
	margin: 0 auto;
}

/* html5 element style */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	cursor: pointer;
	display: block;
	transition: color 1s;
	text-decoration: none;
	-moz-transition: color 1s;	/* Firefox 4 */
	-webkit-transition: color 1s;	/* Safari and Chrome */
	-o-transition: color 1s;	/* Opera */
}

/* image common style */
img {
	max-width: 100%;
	height: auto;
	border: none;
}

/* common list style */
ul {
    list-style: none;
    outline-style: none;
    list-style-type: none;
    float: left;
    overflow: hidden;
    display: inline;
}
ul li {
    float: left;
    overflow: hidden;
    display: inline;
}

textarea 
{
    resize: none;
}

.clearfix {
	zoom: 1;
	clear: both;
}
/* common style -- */

.map-container {
	width: 80%;
	margin: 0 auto;
	overflowY: auto;
}

.map-header,
.map-body,
.map-footer {
	float: left;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}

.map-header {
	height: 30px;
	margin-top: 50px;
	border: blue 1px solid;
}

.map-body {
	border: blue 1px solid;
}

.map-footer {
	height: 30px;
	border: red 1px solid;
}

.item {
	float: left;
	overflow: hidden;
	display: inline-block;
	height: 500px;
	width: 49.5%;
	border: blue 1px dotted;
}

.nav {
	height: 30px;
	border: orange 1px solid;
}

#allmap,
#result {
	width: 100%;
	height: 100%;
}

 /* when view area 980px */
@media screen and (max-width: 980px) {
	.map-container {width: 80%;}
	 .item {width: 100%;}
     #footer {padding: 8% 5%;margin-bottom: 10px;}
}
 /* when view area < 650px */
@media screen and (max-width: 650px) {
	.map-container {width: 100%;}
	 .item {width: 100%;}
     #footer {padding: 8% 5%;margin-bottom: 10px;}
 }




