/* CSS Document */
@charset "utf-8";

/* -- common style */
* {
	margin: 0;
	padding: 0;
	outline-style: none;
}

html,
body {
	width: 100%;
	margin: 0 auto;
}

body {
	font-family: "Microsoft YaHei";
	background-color: #454545;
}

/* html5 element style */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	cursor: pointer;
	display: block;
	transition: color 1s;
	text-decoration: none;
	-moz-transition: color 1s;	/* Firefox 4 */
	-webkit-transition: color 1s;	/* Safari and Chrome */
	-o-transition: color 1s;	/* Opera */
}

/* image common style */
img {
	max-width: 100%;
	height: auto;
	border: none;
}

/* common list style */
ul {
    list-style: none;
    outline-style: none;
    list-style-type: none;
    float: left;
    overflow: hidden;
    display: inline;
}
ul li {
    float: left;
    overflow: hidden;
    display: inline;
}

textarea 
{
    resize: none;
}

/*
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
*/

.clearfix {
	zoom: 1;
	clear: both;
}
/* common style -- */

.map-container {
	width: 80%;
	margin: 0 auto;
	overflowY: auto;
}

.map-header,
.map-body,
.map-footer {
	float: left;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}

.map-header {
	height: auto;
	line-height: 40px;
	margin-top: 50px;
	color: #efefef;
	font-family: "Microsoft YaHei";
	font-size: 1.5em;
}

.map-body {
	margin: 10px auto;
}

.map-footer {
	height: auto;
	line-height: 30px;
	text-align: center;
	margin-bottom: 10px;
	color: #cdcdcd;	
	font-size: 1em;
	font-family: "Microsoft YaHei";
}

hr {
	height: 2px;
	border: transparent;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 1px #bcbcbc;
	margin-bottom: 10px;
}

.item {
	float: left;
	overflow: hidden;
	display: inline-block;
	height: auto;
	width: 49.5%;
}

.pull-right {
	float: right;
	overflow: hidden;
	display: inline-block;
}

.nav {
	width: 99%;
	height: 30px;
}

.nav ul {
	height: 30px;
	width: 100%;
	border-bottom: none;	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.nav ul li {
	height: 30px;
	line-height: 30px;
	width: 24.7%;
	text-align: center;
	color: #fff;
	background-color: #20b2aa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-right: #dcdcdc 1px solid;
}

.nav ul li:hover {
	cursor: pointer;
}

.nav ul li.last-style {
	border: none;
}

#search {
	float: left;
	overflow: hidden;
	display: inline-block;
	width: 68%;
	height: 20px;
	line-height: 20px;
	padding: 4px;
	border: 0px transparent;
	border-radius: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}



#allmap,
#result {
	width: 99%;
	height: 460px;
	border-radius: 3px;
	border: #20b2aa 1px solid;
}


